.button {
  background-color: #276b44;
}

* {
  margin: 0;
  padding: 0;
}
* body {
  background-color: #f8f9fa;
}

.btn-mio {
  background-color: #276b44;
  color: #fff;
}
.btn-mio .btn-mio:hover {
  background-color: #fff;
  color: #276b44;
  transition: all 0.4s ease-in;
}

header {
  background-color: #276b44;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  color: #fff;
}
header p {
  font-size: 18px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* top: 0;
  position: sticky; */
  margin-top: 0;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul a {
  margin: 10px;
  color: #3f3844;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  font-family: "Avenir W01", Avenir, "Avenir Next", Helvetica, Arial, sans-serif;
}
nav ul a:hover {
  color: #41a46c;
  transition: all 0.5s ease;
}

/*carousel*/
.carousel-inner {
  max-height: 85vh;
  object-fit: cover;
}

/*section-1*/
.section-1 {
  margin: 20px;
  margin-top: 10px;
}
.section-1 img {
  width: 500px;
}
.section-1 h2 {
  color: #41a46c;
}

/*tarjetas de la pagina de index*/
.section-de-tarjetas {
  background-color: #276b44;
  color: #fff;
  text-align: center;
  margin-top: 0;
}
.section-de-tarjetas .container {
  padding: 150px 12px;
}
.section-de-tarjetas p {
  display: none;
}
.section-de-tarjetas .carta {
  padding: 50px;
  margin-bottom: 12px;
  border-radius: 10px;
}
.section-de-tarjetas .carta:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/foto-caracteristicas.png");
  background-position: center center;
  background-size: cover;
}
.section-de-tarjetas .carta:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/front-end.png");
  background-position: center center;
  background-size: cover;
}
.section-de-tarjetas .carta:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/full-stack.png");
  background-position: center center;
  background-size: cover;
}

/*section-3 de la pagina de index*/
article {
  text-align: center;
}
article h2 {
  font-size: 30px;
  color: #41a46c;
}
article .margin, article .section-3 p, .section-3 article p, article p {
  margin: 10px;
}
article p {
  font-size: 25px;
}

.section-3 {
  padding: 20px;
}
.section-3 h2 {
  font-size: 30px;
}
.section-3 p {
  font-size: 20px;
}
.section-3 img {
  padding: 10px;
  border-radius: 15px;
}

/*footer*/
footer {
  background-color: #276b44;
  padding: 25px;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 25px;
}
footer a {
  color: #41a46c;
}
footer a:hover {
  color: #fff;
  transition: all 0.3s ease-in;
}
footer .copyright {
  text-align: center;
  margin: 15px;
  font-size: 20px;
  color: #fff;
}

/*cambio de pagina (sitios)*/
.section-de-sitios-3 {
  background-color: #41a46c;
  color: #fff;
}
.section-de-sitios-3 .section-de-sitios-ul {
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  gap: 25px;
}
.section-de-sitios-3 img {
  width: 400px;
  border-radius: 10px;
  margin: 8px;
}
.section-de-sitios-3 .section-de-sitios-ul li:hover {
  transform: scale(0.9);
  transition: all 0.5s ease-in-out;
}

/* pagina de clientes*/
.contenedor-de-clientes {
  background-color: #3f3844;
  filter: opacity(60%);
}

.pag-comencemos h2 {
  color: #41a46c;
}
.pag-comencemos p {
  font-size: 1.3rem;
}

.pag-comencemos-2 h2 {
  text-align: center;
  color: #41a46c;
  margin: 20px;
}
.pag-comencemos-2 img:hover {
  transform: scale(0.9);
}

.pag-comencemos-3 {
  text-align: center;
  padding: 20px;
}
.pag-comencemos-3 h2 {
  color: #41a46c;
}
.pag-comencemos-3 p {
  font-size: 1.5rem;
}

/*titulo principal*/
.unico-carousel h1 {
  color: #41a46c;
  font-family: "Sono", sans-serif;
  font-size: 30px;
}

/*interesado*/
.hero {
  position: relative;
}
.hero img {
  max-width: 100%;
}
.hero .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.hero p {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 50px;
  margin-top: 100px;
}

.section-de-interesados a {
  color: #41a46c;
}

/*media queries*/
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .logo img {
    height: 50px;
  }
  nav {
    flex-direction: column;
  }
  nav ul a {
    font-size: 12px;
  }
  .articulo-de-la-seccion3 {
    display: flex;
    flex-direction: column;
  }
  .section-3 {
    display: flex;
    flex-direction: column;
  }
  .section-3 p {
    display: none;
  }
  /*sitios*/
  .section-de-sitios-ul {
    display: flex;
    flex-direction: column;
  }
  .section-de-sitios-ul img {
    width: 350px;
    margin-left: 30px;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*tarjetas de la pagina de index*/
  .section-de-tarjetas .tarjetas {
    display: flex;
    justify-content: center;
  }
  .carta {
    margin: 20px;
  }
  .section-de-tarjetas p {
    display: block;
    margin-bottom: 10px;
  }
  .section-de-tarjetas p h3 {
    margin-top: 0;
  }
  .section-de-tarjetas p .carta {
    padding: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
