
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#f8f9fa; 
}

/*header*/

header{
    background-color: #276b44;
    padding: 10px;
    text-align: center;
    color: white;
    
    
    
}

header p{
    
    font-size: 18px;
}

/*navbar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* top: 0;
    position: sticky; */
    margin-top: 0;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul a{
    margin: 10px;
    color: #3f3844;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Avenir W01',Avenir,'Avenir Next',Helvetica,Arial,sans-serif;
    
}

nav ul a:hover{
    color: #41a46c;
    transition: all 0.5s ease;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 80px;
}


/*carousel*/

.carousel-inner{
    max-height: 85vh;
    object-fit: cover;
    
}


/*section-1*/

.section-1{

    margin: 20px;
    margin-top: 10px;
}

.section-1 img{
    width: 500px;
}


/*tarjetas de la pagina de index*/

.btn-mio{
    background-color: #276b44;
    color: white;
}

.btn-mio:hover{
    background-color: white;
    color: #276b44;
    transition: all 0.4s ease-in;
}

.section-de-tarjetas{
    background-color: #276b44;
    color: white;
    text-align: center;
    margin-top: 0;
}

.section-de-tarjetas .container{
    padding: 150px 12px;
}

.section-de-tarjetas p{
    display: none;
}

.section-de-tarjetas .carta{
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../proyecto-coderhouse-facu/imagenes/foto-caracteristicas.png);
    background-position: center center;
    background-size: cover;
}


.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../proyecto-coderhouse-facu/imagenes/front-end.png);
    background-position: center center;
    background-size: cover;
}


.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../proyecto-coderhouse-facu/imagenes/full-stack.png);
    background-position: center center;
    background-size: cover;
}






/*section-3 de la pagina de index*/

article{
    text-align: center;
    margin: 40px;
}




article h2{
    font-size: 30px;
    color: #41a46c;
}

article p{
    font-size: 25px;
    margin: 10px;
}


.section-3{

    padding: 20px;
}


.section-3 h2{
    font-size: 30px;
    
}


.section-3 p{
    font-size: 20px;
    margin: 40px;
}

.section-3 img{
    padding: 10px;
    border-radius: 15px;
}

/*footer*/
footer{
    background-color: #276b44;
    padding: 25px;
}

footer ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 25px;
}


footer ul a{
    color: #41a46c;
}

footer ul a:hover{
    color: white;
    transition: all 0.3s ease-in;
}



.copyright{
    text-align: center;
    margin: 15px;
    font-size: 20px;
    color: white;
}




/*cambio de pagina (sitios)*/

.section-de-sitios-3{
    background-color: #41a46c;
    color: white;
}

.section-de-sitios-3 .section-de-sitios-ul{
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    gap: 25px;
}

.section-de-sitios-ul img{
    border-radius: 10px;

}

.section-de-sitios-ul li:hover{
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}








/* pagina de clientes*/


.contenedor-de-clientes{
    background-color: #3f3844;
    filter: opacity(60%);
}


/*comencemos*/

.section-de-comencemos{
    text-align: center;
    margin: 10px;
    font-size: 20px;
}


/*interesado*/

.hero{
    position: relative;
}


.hero img{
    max-width: 100%;
    
    
}

.hero .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.overlay p{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-top: 100px;
}









/*media queries*/


/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 


    .logo img{
        height: 50px;
    }

    nav{
        flex-direction: column;
        
        
        
    }

    nav ul a{

       font-size: 12px;

    }

    .articulo-de-la-seccion3{
        display: flex;
        flex-direction: column;
    }

    .section-3{
        display: flex;
        flex-direction: column;
    }

    .section-3 img{
        width: 300px;
    }

    .section-3 p{
        display: none;
    }

    
    /*sitios*/

    .section-de-sitios-ul{
        display: flex;
        flex-direction: column;
    }

    .section-de-sitios-ul img{
        width: 350px;
        margin-left: 30px;
    }

 }
 

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    /*tarjetas de la pagina de index*/

    .section-de-tarjetas .tarjetas{
        display: flex;
        justify-content: center;
    }


    .section-de-tarjetas p{
        display: block;
        margin-bottom: 10px;
    }

    .section-de-tarjetas h3{
        margin-top: 0;
    }


    .section-de-tarjetas .carta{
        padding: 50px;
    }

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { }

