header{
    background-color: map-get($colors, primary);
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    color: map-get($colors, tertiary);

    p{
        font-size: 18px;
    }
    
    
}

.logo{
    display: flex;
    align-items: center;

    
    img{
        height: 80px;
    }

}



