
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: map-get($colors, tertiary);
    /* top: 0;
    position: sticky; */
    margin-top: 0;

     ul {
        display: flex;
        list-style: none;
        align-items: center;
         a{
            margin: 10px;
            color: $bg-brown;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
            font-family: $font-serfif;
            
        }
        a:hover{
            color: map-get($colors, secondary);
            transition: all 0.5s ease;
        }
    }
    
}






