/*section-3 de la pagina de index*/

article{
    text-align: center;
    

    
 h2{
    font-size: 30px;
    color: map-get($colors, secondary);
}

.margin{
    margin: 10px;
}

p{
    @extend .margin;
    font-size: 25px;
    
}

}







.section-3{

    padding: 20px;

    h2{
        font-size: 30px;
        
    }

    p{
        @extend .margin;
        font-size: 20px;
        
    }

    img{
        padding: 10px;
        border-radius: 15px;
    }
    
}


