.pag-comencemos{

    h2{
        color: map-get($colors, secondary);
    }
    p{
        font-size: 1.3rem;
    }

}

.pag-comencemos-2{
    h2{
        text-align: center;
        color: map-get($colors, secondary);
        margin: 20px;
        
    }

    img:hover{
        transform: scale(.90);
    }
    
}

.pag-comencemos-3{
    text-align: center;
    padding: 20px;
    
    h2{
        color: map-get($colors, secondary);
    }

    p{
        font-size: 1.5rem;
    }
}