/*section-3 de la pagina de index*/

article{
    text-align: center;
    

    
 h2{
    font-size: 30px;
    color: $bg-second;
}

p{
    font-size: 25px;
    margin: 10px;
}

}







.section-3{

    padding: 20px;

    h2{
        font-size: 30px;
        
    }

    p{
        font-size: 20px;
        margin: 10px;
    }

    img{
        padding: 10px;
        border-radius: 15px;
    }
    
}


