/*cambio de pagina (sitios)*/

.section-de-sitios-3{
    background-color: map-get($colors, secondary);
    color: map-get($colors, tertiary);

    .section-de-sitios-ul{
        margin-bottom: 30px;
        list-style: none;
        display: flex;
        gap: 25px;
    }
    

    img{
        width: 400px;
        border-radius: 10px;
        margin: 8px;
    
    }

    .section-de-sitios-ul li:hover{
        transform: scale(0.9);
        transition: all 0.5s ease-in-out;
    }
    
}








