/*cambio de pagina (sitios)*/

.section-de-sitios-3{
    background-color: $bg-second;
    color: $bg-white;

    .section-de-sitios-ul{
        margin-bottom: 30px;
        list-style: none;
        display: flex;
        gap: 25px;
    }
    

    img{
        border-radius: 10px;
    
    }

    .section-de-sitios-ul li:hover{
        transform: scale(0.9);
        transition: all 0.5s ease-in-out;
    }
    
}








