.btn-mio{
    background-color: map-get($colors, primary);
    color: map-get($colors, tertiary);

    .btn-mio:hover{
        background-color: map-get($colors, tertiary);
        color: map-get($colors, primary);
        transition: all 0.4s ease-in;
    }
}

